<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotImaging.GenericImage" version="4.8.2" targetFramework="net461" />
  <package id="DotImaging.IO" version="4.8.2" targetFramework="net461" />
  <package id="DotImaging.Primitives2D" version="4.8.2" targetFramework="net461" />
  <package id="DotImaging.UI" version="4.8.2" targetFramework="net461" />
  <package id="Eto.Forms" version="2.2.0" targetFramework="net461" />
  <package id="Eto.Platform.Windows" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.ProjectOxford.Face" version="1.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
  <package id="Serilog" version="2.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net461" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net461" />
</packages>